# Python
__pycache__/
*.pyc

# Node.js
node_modules/
npm-debug.log

# Docker
docker-compose.override.yml
*.tar
*.img
*.build

# Kubernetes
.kube/
*.kubeconfig

# Helm
charts/
*.lock

# Logs
*.log
logs/

# IDE (VSCode, JetBrains, vb.)
.vscode/
.idea/
*.suo
*.user
*.DS_Store

# OS
*.swp
*.tmp
Thumbs.db
